[submodule "tuterm"]
	path = sys/tuterm
	url = https://aur.archlinux.org/tuterm.git
[submodule "tuterm-git"]
	path = tuterm-git
	url = https://aur.archlinux.org/tuterm-git.git
[submodule "shdocker"]
	path = sys/shdocker
	url = https://aur.archlinux.org/shdocker.git
[submodule "svg-term-cli"]
	path = sys/svg-term-cli
	url = https://aur.archlinux.org/svg-term-cli.git
